page-intro {
  .slide_image img {
    width: 200px !important;
  }

  .slide_pular {
    padding-bottom: 20%;
  }

  .slide_pular a {
    padding-left: 75%;
  }

  .slide-zoom {
    height: 90%;
  }
}
